version: '3'
services:
  # Application Dockerfile is in same folder which is .
  app:
    build: .

  # database is in database folder
  database:
    build: database/.
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - "33062:3306"
